.collapse {
  .toggle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 1rem 2rem;

    background: $primary-color;
    color: $secondary-color;

    font-size: 2.4rem;
    font-weight: 700;

    user-select: none;

    border: none;
    border-radius: 0.5rem;
    outline: none;

    cursor: pointer;
  }

  .arrow {
    position: absolute;
    height: 1.3em;

    right: 1.3rem;
    top: 50%;

    transform: translateY(-50%);
    transition: transform 300ms ease;
  }

  &.open .arrow {
    transform: translateY(-50%) scaleY(-1);
  }

  .content-parent {
    overflow: hidden;
    transition: height ease 900ms;
  }

  .content {
    background: $foreground-color;
    border-radius: 0.5rem;

    padding: 2rem;

    font-size: 1.8rem;
    font-weight: 700;

    text-align: justify;
  }
}
