.rental-card {
  position: relative;

  width: 100%;
  height: 34rem;
  min-width: 34rem;

  border-radius: 1rem;
  overflow: hidden;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(10, 10, 10, 0) 42%,
    rgba(4, 4, 4, 0.2) 99.99%,
    rgba(0, 0, 0, 0.5) 100%
  );
  background-color: $primary-color;

  transition: 200ms ease-in-out;

  @include breakpoint(mobile) {
    height: 25.5rem;
  }

  &:hover {
    box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.35);

    .card-img {
      transform: scale(1.05);
    }
  }

  .card-img {
    position: absolute;

    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;

    transition: 200ms ease-in-out;
  }

  .filter {
    position: absolute;

    inset: 0;

    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(10, 10, 10, 0) 42%,
      rgba(4, 4, 4, 0.6) 99.99%,
      rgba(0, 0, 0, 0.5) 100%
    );
  }

  .title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 2rem;

    @include breakpoint(mobile) {
      padding: 1.5rem 1.9rem;
    }
  }

  .stretched-link:hover + .card-img {
    transform: scale(1.05);
  }
}
