.rental-cards {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 34rem);
  justify-content: space-between;

  border-radius: 2.5rem;
  background: #f6f6f6;

  row-gap: 5rem;

  padding: 5.6rem 5rem 4.3rem 5rem;

  @media (max-width: 1280px) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    row-gap: 4rem;
  }

  @media (max-width: 900px) {
    grid-template-columns: repeat(1, 1fr);
    padding: 2.6rem;
    row-gap: 2rem;
  }

  @include breakpoint(mobile) {
    background: transparent;
    padding: 0;
  }
}
