.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;

  .tag {
    background: $primary-color;
    color: $secondary-color;
    padding: 0.5rem 3rem;
    font-size: 1.4rem;
    font-weight: 700;
    border-radius: 1rem;
  }
}
