.home {
  .container {
    display: flex;
    flex-direction: column;
    gap: 4.3rem;

    @include breakpoint(mobile) {
      gap: 2.2rem;
    }
  }

  @include breakpoint(mobile) {
    .rental-card {
      width: 100%;
      max-width: 100%;
    }
  }
}
